{
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react-hooks"],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/require-default-props": 0,
    "no-shadow": ["error", { "allow": ["theme"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "flowtype/require-valid-file-annotation": [
      "error",
      "always",
      {
        "annotationStyle": "line"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": [["@theme", "./src/theme"]]
    }
  }
}
