{
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react-hooks"],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/require-default-props": 0,
    "no-shadow": ["error", { "allow": ["theme"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/forbid-prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "alias": [["@theme", "./src/theme"]]
    }
  }
}
