{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard"],
  "rules": {
    "flowtype/require-valid-file-annotation": [
      "error",
      "always",
      {
        "annotationStyle": "line"
      }
    ]
  }
}
